
.collapse-row {
    background-color: #f9f9f9;
}
.table td {
    vertical-align: middle;
}
.dt-control {
    cursor: pointer;
}
.collapse-row {
    background-color: #f9f9f9;
    padding: 10px; /* Add padding to make it look nice */
    word-wrap: break-word; /* Ensure text wraps within the container */
    white-space: normal; /* Override any inherited nowrap styles */
}
